#sidebar-container :hover{
  background-color: white !important;
}
.divider-line{
  border-top: #a7aaa7 1px solid;
}
#sidebar-nav {
  width: 160px;
}
#sidebar1 {
  width: 180px;
}
.list-group-item {
  border: unset !important;
}
.row>* {
  padding-right: 0px;
  padding-left: 0px;
  flex-shrink: unset;
}

.side-item{
  background-color: #333;
  color: white;
}

.page-content{
  display: flex;
}
.divider {
  height: 100px;
  background-color: #a7aaa7;
}
.add-puck-items{
  border: #a7aaa7 2px solid;
  height: 300px;
}
.add-puck-item{
  height: 30px;
  align-items: center;
  border: #a7aaa7 2px solid;
}
.data-puck-main{
  position: relative;
}
.add-puck-footer{
  position: absolute;
  border: 5px;
}

#body-row {
  margin-left:0;
  margin-right:0;
}
#body-row1 {
  margin-left:0;
  margin-right:0;
}
#sidebar-container {
  min-height: 100vh;
  padding: 0;
  border: 1px solid rgba(0,0,0,.125);

}
h2{
  margin-top: unset !important;
}

#sidebar-container1 {
  min-height: 100vh;
  padding: 0;
}
/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
  width: 230px;
}
.sidebar-collapsed {
  width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
  height: 30px;
  color: white;
  border: 1px solid rgba(0,0,0,.125) !important;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}
.sidebar-submenu {
  font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
  background-color: #333;
  height: 35px;
}
.sidebar-separator {
  background-color: #333;
  height: 25px;
}
.logo-separator {
  background-color: #333;
  height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
.bg-dark {
  color: black !important;
  background-color: unset!important;
}
.active-side{
  background-color: grey !important;
}
.list-group {
  border-radius: 0 !important;
}
