
<div class="inner-view">
  <div class="inner-inner-view container">
    <p> Please search for the appropriate Puck Family with in the dropdown list. if puck family is not listed </p>
    <div class="main-content">
      <p>Puck Family</p>
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Select Puck Family</option>
        <option value="1">No Puck Family</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="inner-view-footer">
      <button type="submit" class="btn btn-primary" (click)="navigate()">Save And Continue</button>
    </div>
  </div>
</div>
