<div class="card text-center">
  <div class="card-header"><h3><i class="fa fa-database db-icon"></i> Add New Data Puck </h3></div>
  <div class="card-body">
    <div class="inner-view">
      <nav>
        <ul class="mcd-menu">
          <li>
            <a href="" class="active">
              <i class="fa fa-home"></i>
              <span>Data Puck Information</span>
            </a>
          </li>
          <li>
            <a href="" >
              <i class="fa fa-edit"></i>
              <span>About us</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-gift"></i>
              <span>Features</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-globe"></i>
              <span>News</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-comments-o"></i>
              <span>Blog</span>
            </a>
            <ul>
              <li><a href="#"><i class="fa fa-globe"></i>Mission</a></li>
              <li>
                <a href="#"><i class="fa fa-group"></i>Our Team</a>
                <ul>
                  <li><a href="#"><i class="fa fa-female"></i>Leyla Sparks</a></li>
                  <li>
                    <a href="#"><i class="fa fa-male"></i>Gleb Ismailov</a>
                    <ul>
                      <li><a href="#"><i class="fa fa-leaf"></i>About</a></li>
                      <li><a href="#"><i class="fa fa-tasks"></i>Skills</a></li>
                    </ul>
                  </li>
                  <li><a href="#"><i class="fa fa-female"></i>Viktoria Gibbers</a></li>
                </ul>
              </li>
              <li><a href="#"><i class="fa fa-trophy"></i>Rewards</a></li>
              <li><a href="#"><i class="fa fa-certificate"></i>Certificates</a></li>
            </ul>
          </li>
          <li>
            <a href="">
              <i class="fa fa-picture-o"></i>
              <strong>Portfolio</strong>
              <small>sweet home</small>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-envelope-o"></i>
              <strong>Contacts</strong>
              <small>drop a line</small>
            </a>
          </li>
        </ul>
      </nav>
      <div class="inner-inner-view">
        <h3>Data Puck Information</h3>

        <div>
         <p>Email address</p>
          <input type="email" class="form-control" style="width: 300px" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="inner-view-footer">
          <button type="submit" class="btn btn-secondary" >Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>

  </div>
  <div class="card-footer text-muted">3 years ago</div>
</div>
