<div class="container-fluid">
  <div class="row flex-nowrap">
    <div style="display:none;" class="col-auto px-0">
      <div id="sidebar" class="collapse collapse-horizontal show border-end">
        <div id="sidebar-nav" class="side-item list-group border-0 rounded-0 text-sm-start min-vh-100"
             style="padding-top: 55px">
          <a href="#" class="side-item list-group-item border-end-0 d-inline-block text-truncate"
             data-bs-parent="#sidebar"><i class="bi bi-bootstrap"></i> <span>Item</span> </a>
          <a href="#" class="side-item list-group-item border-end-0 d-inline-block text-truncate"
             data-bs-parent="#sidebar"><i class="bi bi-film"></i> <span>Item</span></a>
          <a href="#" class="side-item list-group-item border-end-0 d-inline-block text-truncate"
             data-bs-parent="#sidebar"><i class="bi bi-heart"></i> <span>Item</span></a>
          <a href="#" class="side-item list-group-item border-end-0 d-inline-block text-truncate"
             data-bs-parent="#sidebar"><i class="bi bi-bricks"></i> <span>Item</span></a>
          <a href="#" class="side-item list-group-item border-end-0 d-inline-block text-truncate"
             data-bs-parent="#sidebar"><i class="bi bi-clock"></i> <span>Item</span></a>
          <a href="#" class="side-item list-group-item border-end-0 d-inline-block text-truncate"
             data-bs-parent="#sidebar"><i class="bi bi-archive"></i> <span>Item</span></a>
          <a href="#" class="side-item list-group-item border-end-0 d-inline-block text-truncate"
             data-bs-parent="#sidebar"><i class="bi bi-gear"></i> <span>Item</span></a>
          <a href="#" class="side-item list-group-item border-end-0 d-inline-block text-truncate"
             data-bs-parent="#sidebar"><i class="bi bi-calendar"></i> <span>Item</span></a>
          <a href="#" class="side-item list-group-item border-end-0 d-inline-block text-truncate"
             data-bs-parent="#sidebar"><i class="bi bi-envelope"></i> <span>Item</span></a>
        </div>
      </div>
    </div>
    <main>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="" style="display: contents">
          <a class="navbar-brand" href="#">
            <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse"
               class="border rounded-3 p-1 text-decoration-none"><i class="bi bi-list bi-lg py-2 p-1"></i> </a>
          </a>
          <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="divider row">

      </div>


      <!-- Page Content -->
      <div class="page-content">
        <div id="sidebar1" class="data-puck-side col-auto px-0">
          <div class="add-puck-items">
            <div class="add-puck-item">
              <a>Select Puck Family</a>
            </div>
            <div class="add-puck-item">
              Puck Family Information
            </div>
            <div class="add-puck-item">
              Environments
            </div>
            <div class="add-puck-item">
              Datasets
            </div>
            <div class="add-puck-item">
              Datasets and
            </div>
            <div class="add-puck-item">
              Datasets retention
            </div>
            <div class="add-puck-item">
              Logging
            </div>
          </div>
        </div>
        <div class="data-puck-main">
          <router-outlet></router-outlet>

          <!--          <div class="add-puck-header">-->
<!--            <h3>Select Puck Family</h3>-->
<!--          </div>-->
<!--          <div class="add-puck-main">-->
<!--            Add Puck MAIN cONTENT-->
<!--          </div>-->
<!--          <div class="add-puck-footer">-->
<!--            Footer content-->
<!--          </div>-->
        </div>
      </div>
    </main>
    <!--    <main class="col ps-md-2 pt-2">-->
    <!--      <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="border rounded-3 p-1 text-decoration-none"><i class="bi bi-list bi-lg py-2 p-1"></i> Menu</a>-->
    <!--      <div class="page-header pt-3">-->
    <!--        <h2>Bootstrap 5 Sidebar Menu - Simple</h2>-->
    <!--      </div>-->
    <!--      <p class="lead">A offcanvas "push" vertical nav menu example.</p>-->
    <!--      <hr>-->
    <!--      <div class="row">-->
    <!--        <div class="col-12">-->
    <!--          <p>This is a simple collapsing sidebar menu for Bootstrap 5. Unlike the Offcanvas component that overlays the content, this sidebar will "push" the content. Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal sustainable mixtape swag wolf squid tote bag. Tote bag cronut semiotics, raw denim deep v taxidermy messenger bag. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts paleo. Forage Shoreditch tousled aesthetic irony, street art organic Bushwick artisan cliche semiotics ugh synth chillwave meditation. Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan, Williamsburg master cleanse hella DIY 90's blog.</p>-->
    <!--          <p>Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown gluten-free Kickstarter artisan Wes Anderson wolf pug. Godard sustainable you probably haven't heard of them, vegan farm-to-table Williamsburg slow-carb readymade disrupt deep v. Meggings seitan Wes Anderson semiotics, cliche American Apparel whatever. Helvetica cray plaid, vegan brunch Banksy leggings +1 direct trade. Wayfarers codeply PBR selfies. Banh mi McSweeney's Shoreditch selfies, forage fingerstache food truck occupy YOLO Pitchfork fixie iPhone fanny pack art party Portland.</p>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </main>-->
  </div>
</div>


