
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$self-service-app-primary: mat.define-palette(mat.$indigo-palette);
$self-service-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$self-service-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$self-service-app-theme: mat.define-light-theme((
  color: (
    primary: $self-service-app-primary,
    accent: $self-service-app-accent,
    warn: $self-service-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($self-service-app-theme);

/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import "~@fontsource/work-sans";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 30px;
}

html, body {
  height: 100%;
}

:root {
  --header-height: 3rem;
  --first-color: #4723D9;
  --first-color-light: #AFA5D9;
  --white-color: #F7F6FB;
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100
}


*,
::before,
::after {
  box-sizing: border-box
}

body {
  width: 100%;
  width: 100%;
  position: fixed;
  background: #ecf0f3;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s
}


body {
  margin: unset !important;
  font-family: unset !important;
  font-size: unset !important;
  font-weight: unset !important;
  line-height: unset !important;
  color: unset !important;
  text-align: unset !important;
  background-color: unset !important;
  -webkit-text-size-adjust: unset !important;
  -webkit-tap-highlight-color: unset !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
