/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';


:root {
  --header-height: 3rem;
  --first-color: #4723D9;
  --first-color-light: #AFA5D9;
  --white-color: #F7F6FB;
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100
}


*,
::before,
::after {
  box-sizing: border-box
}

body {
  width: 100%;
  width: 100%;
  position: fixed;
  background: #ecf0f3;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s
}


body {
  margin: unset !important;
  font-family: unset !important;
  font-size: unset !important;
  font-weight: unset !important;
  line-height: unset !important;
  color: unset !important;
  text-align: unset !important;
  background-color: unset !important;
  -webkit-text-size-adjust: unset !important;
  -webkit-tap-highlight-color: unset !important;
}
